* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: var(--primary-font);
  background-color: #000 !important;
}

:root {
  --primary-color: #1c4693;
  --secondary-color: #f6c318;
  --dark-color: #000;
  --light-color: #fff;
  --primary-font: "Montserrat", sans-serif;
}

.container{
    padding: 0px !important;
}
.main-content {
  max-width: 550px;
  margin: auto;
  position: relative;
  overflow:hidden ;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

header .shape {
  position: relative;
  transform: translateY(-30px);
}

header .shape img {
  width: 100%;
  display: block;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

header .logo img {
  width: 130px;
  display: block;
}

.banner-section {
  background-image: url(../Assets/Images/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-section .menu-items {
  width: 300px;
  overflow: hidden;
  margin: auto;
  text-align: left; 
  background-color: var(--primary-color);
  padding: 0px;
}

.banner-section .menu-items .item a {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 0.5px solid #ffffff36;
  text-decoration: none;
  color: var(--light-color); 
}

.banner-section .menu-items .item .icon {
  width: 60px;
  height: 60px;
  background-color: #12357f;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-section .menu-items .item .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-section .menu-items .item .content {
  flex: 1;
}

.banner-section .menu-items .item .content h1 {
  color: #f3f3f3;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0; 
font-family: var(--primary-font);
}



/* responsive */

@media only screen and (max-width: 600px) {
    header .shape{
        transform: none;
    }
    header .logo img{
        width: 100px;
    }
    header .logo{
        top: 40%;
    }
    .banner-section .menu-items{
        width: 250px;
    }
    .banner-section .menu-items .item .content h1{
        font-size: 11px;
    }
    .banner-section .menu-items .item .icon{
        height: 45px;
        width: 45px;
        padding: 12px;
    }
}