* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: var(--primary-font);
}

:root {
  --primary-color: #1c4693;
  --secondary-color: #f6c318;
  --dark-color: #000;
  --light-color: #fff;
  --primary-font: "Montserrat", sans-serif;
}

.container {
  padding: 0px 10px !important;
}

.main-wrapper {
  background-image: url("../Assets/Images/background-image.png");
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: #000;
  opacity: 0.9;
}

.main-content {
  max-width: 550px;
  margin: auto;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

header .shape {
  position: relative;
  transform: translateY(-30px);
}

header .shape img {
  width: 100%;
  display: block;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

header .logo img {
  width: 130px;
  display: block;
}

.banner-section {
  background-image: url(../Assets/Images/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-section .menu-items {
  width: 300px;
  height: 322px;
  overflow: hidden;
  margin: auto;
  text-align: left;
  background-color: var(--primary-color);
  padding: 0px;
}

.banner-section .menu-items .item a {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 0.5px solid #ffffff36;
  text-decoration: none;
  color: var(--light-color);
}
.banner-section .menu-items .item:last-child a {
  border-bottom: none;
}
.banner-section .menu-items .item .icon {
  width: 60px;
  height: 60px;
  background-color: #12357f;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-section .menu-items .item .icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-section .menu-items .item .content {
  flex: 1;
}

.banner-section .menu-items .item .content h1 {
  color: #f3f3f3;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin: 0;
  font-family: var(--primary-font);
}
.modal-body {
  padding:0px 10px !important;
}
.modal-content {
  width: 255px !important;
  height: 325px;
  margin: auto;
}
.modal-header h1 {
  font-size: 15px !important;
}
.modal-header .btn-close {
  font-size: 10px;
}
.video-content iframe {
  display: block;
}
/* .social-media-modal .social-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  flex-direction: column;
}
.social-media-modal .social-icon img {
  width: 40px;
  display: flex;
  margin: 5px auto;
  justify-content: center;
}
.social-media-modal .social-icon h6 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 12px;
}
.social-media-modal a {
  text-decoration: none;
  color: #000;
} */
.social-media-modal a{
  color: #000;
  text-decoration: none;
}
.social-media-modal .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding: 10px 0px;
  flex-shrink: 0;
}
.social-media-modal .social-profiles .item:last-child {
  border-bottom: 0px;
}
.social-media-modal .profile-details-main{
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-media-modal .profile-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(234, 250, 255);
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    flex-shrink: 0;
}
.social-media-modal .profile-image img {
  width: 30px;
}
.social-media-modal .profile-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-modal .profile-icon img {
  width: 10px;
}
.social-media-modal .profile-name h3{
  font-size: 12px;
  margin-bottom: 0px;
}
.social-media-modal  .navigate-icon img{
  width: 15px;
  opacity: 0.5;
}

.event-page {
  padding: 150px 10px 0px 10px;
}
header .shape .shape-img {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
}
.all-videos {
  padding-top: 40px;
}
.all-videos h3 {
  font-size: 16px;
  text-decoration: underline;
  padding-bottom: 10px;
}
.event-page .date {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.event-page .date h6 {
  margin-bottom: 0px;
  font-size: 15px;
}
.event-page .date i {
  font-size: 15px;
}
.all-videos .date h6 {
  font-size: 12px;
}
.all-videos .date i {
  font-size: 10px;
}
.all-videos .date {
  margin-top: 5px;
}
.all-videos iframe {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.main-video iframe {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.all-videos .item {
  margin-bottom: 20px;
}
.event-page .item {
  background-color: #f5f5f5;
  border: 1px solid #e2e2e2;
  padding: 10px;
  border-radius: 10px;
}
.event-page .main-video .item {
  padding: 10px 10px 15px 10px;
}

/* responsive */

@media only screen and (max-width: 600px) {
  .main-content {
    max-width: 100%;
    width: 100%;
  }
  header .shape {
    transform: none;
  }
  header .logo img {
    width: 100px;
  }
  header .logo {
    top: 40%;
  }
  .banner-section .menu-items {
    width: 250px;
  }
  .banner-section .menu-items .item .content h1 {
    font-size: 11px;
  }
  .banner-section .menu-items .item .icon {
    height: 45px;
    width: 45px;
    padding: 12px;
  }
}
